# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.venv/
venv/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# Local artifacts
MARKETING.md
*.log

utilityman.rb
HOMEBREW.md
HOMEBREW_SUMMARY.md
examples/images/example_image.png'
scripts/homebrew-setup.sh